.button {
    display: inline-flex;
    padding: var(--padding-xs, 8px) var(--padding-md, 16px);
    justify-content: center;
    align-items: center;
    gap: var(--gap-md);
    border-radius: var(--border-xs, 8px);
    border: 0.5px solid var(--ui-button-border-brand, #53B9AB);
    background: var(--ui-button-default-brand, #12A594);
    color: var(--ui-button-text-brand, #FAFEFD);
    text-align: center;
    font-size: var(--border-md, 16px);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    align-self: stretch;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    background: var(--ui-button-hover-brand, #0D9B8A);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    color: var(--ui-button-text-brand, #FAFEFD);
}

.button:active {
    background: var(--ui-button-active-brand, #008573);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;
    color: var(--ui-button-text-brand, #FAFEFD);
}

.button-surface {
    display: inline-flex;
    padding: var(--padding-xs, 8px) var(--padding-md, 16px);
    justify-content: center;
    align-items: center;
    gap: var(--gap-md);
    border-radius: var(--border-xs, 8px);
    border: 0.5px solid var(--ui-border-default-brand, #A1DED2);
    background: var(--ui-background-default-brand, #FAFEFD);
    color: var(--ui-text-high-contrast-brand, #0D3D38);
    text-align: center;
    font-size: var(--border-md, 16px);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    align-self: stretch;
    transition: all 0.2s ease-in-out;
}

.button-surface:hover {
    border: 0.5px solid var(--ui-border-hover-brand, #83CDC1);
    background: var(--ui-background-subtle-brand, #F3FBF9);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    color: var(--ui-text-high-contrast-brand, #0D3D38);
}

.button-surface:active {
    border: 0.5px solid var(--ui-border-active-brand, #53B9AB);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;
    color: var(--ui-text-high-contrast-brand, #0D3D38);
}

.button-text {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    color: var(--colors-teal-9, #12A594);
    background-color: transparent;
    border-color: transparent;
    text-align: center;
    font-size: var(--text-md, 16px);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    align-self: stretch;
    transition: all 0.2s ease;
}

.button-text:hover {
    color: var(--colors-teal-11, #008573);
    background-color: transparent;
    box-shadow: none;

}

.button-text:active {
    color: var(--colors-teal-12, #0D3D38);
    background-color: transparent;
    box-shadow: none;
}

.button-text.is-error {
    color: var(--colors-red-9, #E5484D);
}

.button-text.is-error:hover {
    color: var(--colors-red-11, #CE2C31);

}

.button-text.is-error:active {
    color: var(--colors-red-12, #641723);

}