# Optional local overrides can be added here if needed.
# I moved all the firebase configs to lib/firebase.js since none of them were secret and it was easier to manage them there. If you need to add any local overrides, you can do so here.